---
type Props =
  | {
      href: string;
      id?: never;
    }
  | {
      href?: never;
      id: string;
    };
const { href, id, ...props } = Astro.props;
const style = `bg-ghost-white text-dark-primary rounded-full px-2 hover:bg-levender-white active:scale-90`;
---

{
  href ? (
    <a href={href} {...props}>
      <div class={style}>
        <slot />
      </div>
    </a>
  ) : (
    <button id={id}>
      <div class={style}>
        <slot />
      </div>
    </button>
  )
}
