---
import AboutCard from "../components/AboutCard.astro";
import ConnectCard from "../components/ConnectCard.astro";
import IntroSection from "../components/IntroSection.astro";
import ProjectsCard from "../components/ProjectsCard.astro";
import SkillCard from "../components/SkillCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gregor Obreza | Home">
  <main>
    <div class="flex flex-col gap-y-16 sm:gap-y-20 py-6 sm:py-12">
      <IntroSection />
      <SkillCard />
      <ProjectsCard />
      <AboutCard />
      <ConnectCard />
    </div>
  </main>
</Layout>
