---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<div
  class="bg-gradient-to-bl from-dark-secondary rounded-3xl border border-ghost-white/35 w-full p-8 sm:px-12"
>
  <div class="flex flex-col items-center gap-y-6">
    <div class="flex flex-col gap-y-3">
      <h3>What have I been up to lately</h3>
      <p>
        Since on the day job I mostly do front-end development, I work on my
        back-end skills through building side projects in my spare time. Apart
        from that I am also interested into business, startups and Saas
        development. Therefore I am exploring and learning about how to market
        market some of my ideas.
      </p>
    </div>
    <div class="flex flex-col gap-y-3">
      <h3>What can I help you with</h3>
      <p>
        I can help you with building MVPs or whole web applications using React,
        Next.js, Astro and Supabase. Ping me and we will discuss your challenge.
      </p>
    </div>
    <div class="flex flex-col gap-y-3">
      <h3>Some other facts</h3>
      <p>
        Actually, I completed my master's degree in Mechanical Engineering and
        ventured into programming and web development during the final stages of
        my studies. Even though I am not so into mechanical engineering anymore,
        I still like to model and 3D print some ideas from time to time...
      </p>
    </div>
    <div class="flex flex-col gap-y-3">
      <h3>Random</h3>
      <p>
        Yes I also do other stuff in my life 🙃. I enjoy hard strongman and
        powerlifting training sessions, boxing, reading, having a beer or two
        with my friends and of course spending time and building our future with
        my girlfriend.
      </p>
    </div>
  </div>
</div>
