---
import { getCollection } from "astro:content";
import PrimaryButton from "./PrimaryButton.astro";
import SecondaryButton from "./SecondaryButton.astro";
import BreadCrumbs from "./BreadCrumbs.astro";
const allProjects = await getCollection("projects");
const tags = [
  ...new Set(allProjects.map((project) => project.data.tags).flat()),
];
interface Props {
  allPostsButton?: boolean;
  mainTitle: string;
  description?: string;
}

const { allPostsButton, mainTitle, description } = Astro.props;
---

<div class="flex flex-col gap-y-3 px-3 sm:px-8">
  <BreadCrumbs />
  <h1>{mainTitle}</h1>
  {description && <p>{description}</p>}
  <div class="font-semibold">Tags:</div>
  <div class="flex flex-wrap gap-2">
    {
      allPostsButton && (
        <PrimaryButton href="/projects">
          <p class="text-sm">All Projects</p>
        </PrimaryButton>
      )
    }
    {
      tags.map((tag) => (
        <SecondaryButton href={`/projects-tags/${tag}`}>
          <p class="text-sm">#{tag}</p>
        </SecondaryButton>
      ))
    }
  </div>
</div>
