---
---

<button class=`bg-gradient-to-t from-purple-800 to-rose-700 hover:from-purple-900 hover:to-rose-800 transition text-ghost-white rounded-full px-2 hover:scale-110  active:scale-90 active:bg-gradient-to-b`>
  <slot />
</button>
