---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }


// const { href, title, body } = Astro.props;
---

<div class="bg-gradient-to-tr from-dark-secondary rounded-3xl border border-ghost-white/35 w-full p-8 sm:px-12">
	<div class="flex flex-col items-center gap-y-8">
		<h2>Work and Projects</h2>
		<div class="h-60"></div>
	</div>
</div>

