---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

import SkillsetBrands from "./SkillsetBrands.astro";

// const { href, title, body } = Astro.props;
---

<div class="bg-gradient-to-b from-dark-secondary rounded-3xl border border-ghost-white/35 w-full p-8 sm:px-12">
	<div class="flex flex-col items-center gap-y-8">
		<h2>Most experienced with</h2>
		<SkillsetBrands/>
		<p class="text-xs text-center">And curious 🧐 to learn and improve my skill set whenever I can.</p>
	</div>
</div>

