---

---

<div class="flex gap-3 items-center">
  <div class="text-2xl">Work in Progress</div>
  <div>
    <span class="sr-only">icon of construction block</span>
    <svg
      role="img"
      class="w-20 h-20"
      viewBox="0 0 44.979166 46.306056"
      version="1.1"
      id="svg5"
      xml:space="preserve"
      ><sodipodi:namedview
        id="namedview7"
        pagecolor="#ffffff"
        bordercolor="#000000"
        borderopacity="0.25"
        inkscape:showpageshadow="2"
        inkscape:pageopacity="0.0"
        inkscape:pagecheckerboard="0"
        inkscape:deskcolor="#d1d1d1"
        inkscape:document-units="mm"
        showgrid="false"
        inkscape:zoom="0.5946522"
        inkscape:cx="-63.062072"
        inkscape:cy="406.11974"
        inkscape:window-width="1920"
        inkscape:window-height="1027"
        inkscape:window-x="0"
        inkscape:window-y="25"
        inkscape:window-maximized="1"
        inkscape:current-layer="g150"></sodipodi:namedview><defs id="defs2"
      ></defs><g id="layer1" transform="translate(-21.27842,-47.346966)"
        ><g
          style="fill:none"
          id="g150"
          transform="matrix(6.2712457,0,0,6.9942699,2.4646844,5.3813442)"
          ><path
            d="M 4.3792857,9.8620001 H 3.8275715 v 2.7585709 h 0.5517142 z m 4.9654288,0 H 8.7930001 v 2.7585709 h 0.5517144 z"
            fill="#d3d3d3"
            id="path132"
            style="fill:#e1e5f2;fill-opacity:1;stroke-width:0.275857"
            inkscape:export-filename="wkr_in_progress.svg"
            inkscape:export-xdpi="3.7386758"
            inkscape:export-ydpi="3.7386758"></path><path
            d="M 3,7.6551429 4.1034285,6.5517144 H 5.62616 L 6.1723571,6.8275715 6.9888944,6.5517144 H 8.3847316 L 8.7930001,6.8275715 9.752983,6.5517144 h 0.1434447 c 0.1523563,0 0.2758573,0.123507 0.2758573,0.2758571 v 0.69516 l -0.13793,0.8220543 0.13793,0.5461971 v 0.9710172 c 0,0.1523559 -0.123501,0.2758569 -0.2758573,0.2758569 H 8.9254115 L 8.2412858,9.9999287 7.5571601,10.137857 h -1.39032 L 5.620643,9.8620001 4.7985887,10.137857 H 3.4110271 L 3.2758572,9.4482143 3,9.1794743 Z"
            fill="#fcd53f"
            id="path134"
            style="fill:#fbfbff;fill-opacity:1;stroke-width:0.275857"
          ></path><path
            d="M 4.2343946,6.5517144 H 3.2758572 C 3.1235068,6.5517144 3,6.675221 3,6.8275715 V 7.7861198 Z M 3.406823,10.137857 H 3.2758572 C 3.1235068,10.137857 3,10.014356 3,9.8620001 V 9.1792537 L 5.6275394,6.5517144 h 1.3654377 z m 2.7585825,0 H 4.7999734 L 8.3861108,6.5517144 h 1.3654377 z m 2.7585716,0 H 7.5585394 L 10.172286,7.5241107 v 1.3654379 z"
            fill="#533566"
            id="path136"
            style="fill:#080313;fill-opacity:1;stroke-width:0.275857"
          ></path><path
            d="M 4.2413571,6 C 4.0128288,6 3.8275715,6.1852573 3.8275715,6.4137858 V 6.5517144 H 4.6551429 V 6.4137858 C 4.6551429,6.1852573 4.4698856,6 4.2413571,6 Z M 8.9309287,6 C 8.7024087,6 8.517143,6.1852573 8.517143,6.4137858 V 6.5517153 H 9.3447145 V 6.4137858 C 9.3447145,6.1852573 9.1594488,6 8.9309287,6 Z"
            fill="#f8312f"
            id="path138"
            style="fill:#be185d;fill-opacity:1;stroke-width:0.275857"></path></g
        ></g
      ></svg
    >
  </div>
</div>
