---
interface Props {
  text?: string;
}

const { text = "Work in Progress" } = Astro.props;
---

<div class="flex gap-3 items-center">
  <div class="text-2xl">{text}</div>
  <div>
    <span class="sr-only">icon of construction block</span>
    <svg
      class="w-24 h-24"
      viewBox="0 0 44.979174 33.455901"
      version="1.1"
      id="svg5"
      xml:space="preserve"
      ><defs id="defs2"></defs><g
        id="layer1"
        transform="translate(-107.1693,-48.290818)"
        ><g
          style="fill:none"
          id="g150"
          transform="matrix(6.2712457,0,0,6.9942699,2.4646844,5.3813442)"
          ><path
            d="m 18.075271,8.9389824 h -0.551714 v 1.9792946 h 0.551714 z m 4.965429,0 H 22.488986 V 10.918277 H 23.0407 Z"
            fill="#d3d3d3"
            id="path2226"
            style="fill:#e1e5f2;fill-opacity:1;stroke-width:0.233667"></path><g
            id="g2236"
            transform="matrix(1,0,0,0.63191543,0,2.4612569)"
            ><path
              d="m 16.695985,7.7900899 1.103429,-1.1034285 h 1.522731 l 0.546198,0.2758571 0.816537,-0.2758571 h 1.395837 l 0.408269,0.2758571 0.959982,-0.2758571 h 0.143445 c 0.152356,0 0.275857,0.123507 0.275857,0.2758571 v 0.69516 l -0.13793,0.8220543 0.13793,0.5461971 v 0.9710172 c 0,0.1523559 -0.123501,0.2758569 -0.275857,0.2758569 h -0.971016 l -0.684126,-0.137928 -0.684125,0.137928 h -1.39032 L 19.316628,9.9969471 18.494574,10.272804 h -1.387561 l -0.13517,-0.6896427 -0.275858,-0.26874 z"
              fill="#fcd53f"
              id="path2228"
              style="fill:#fbfbff;fill-opacity:1;stroke-width:0.275857"
            ></path><path
              d="m 17.93038,6.6866614 h -0.958537 c -0.152351,0 -0.275858,0.1235066 -0.275858,0.2758571 v 0.9585483 z m -0.827572,3.5861426 h -0.130965 c -0.152351,0 -0.275858,-0.123501 -0.275858,-0.2758569 V 9.3142007 l 2.62754,-2.6275393 h 1.365438 z m 2.758583,0 h -1.365432 l 3.586137,-3.5861426 h 1.365438 z m 2.758572,0 h -1.365438 l 2.613746,-2.6137463 v 1.3654379 z"
              fill="#533566"
              id="path2230"
              style="fill:#080313;fill-opacity:1;stroke-width:0.275857"
            ></path></g
          ><path
            d="m 17.937343,6.134947 c -0.228529,0 -0.413786,0.1852573 -0.413786,0.4137858 v 0.1379286 h 0.827571 V 6.5487328 c 0,-0.2285285 -0.185257,-0.4137858 -0.413785,-0.4137858 z m 4.689571,0 c -0.22852,0 -0.413786,0.1852573 -0.413786,0.4137858 V 6.6866623 H 23.0407 V 6.5487328 c 0,-0.2285285 -0.185266,-0.4137858 -0.413786,-0.4137858 z"
            fill="#f8312f"
            id="path2232"
            style="fill:#be185d;fill-opacity:1;stroke-width:0.275857"></path></g
        ></g
      ></svg
    >
  </div>
</div>
