---
import ConnectLinks from "../components/ConnectLinks.astro";
import "../styles/base.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <footer>
    <div class="flex justify-center py-3">
      <div class="flex flex-col gap-y-3 justify-items-center">
        <ConnectLinks />
        <p class="text-xs text-gray-300">gobreza.dev | &copy; {currentYear}</p>
      </div>
    </div>
  </footer>
</html>
